{% extends 'base.html' %}
{% block title %}Madlibs{% endblock %}
{% block content %}
    <h1>Madlibs</h1>
    <form action="/story">
        <label for="place">Place:</label>
        <input type="text" name="place", id="noun" required>
        <label for="noun">Noun:</label>
        <input type="text" name="noun" id="noun" required>
        <label for="verb">Verb:</label>
        <input type="text" name="verb" id="verb" required>
        <label for="adjective">Adjective:</label>
        <input type="text" name="adjective" id="adjective" required>
        <label for="plural">Plural noun:</label>
        <input type="text" name="plural" id="plural" required>
        <input type="submit" value="Submit">
    </form>
{% endblock %}